*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 60px 0px 0px 0px;
    box-sizing: border-box;
}
.top{
    position: fixed;
    top:0px;
    height: 60px;
    padding: 0px 0px 0px 0px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color:black ;
}
.shop{
    padding: 0px 5px 0px 0px;
    width: 40px;
}
.topright{
    
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 0px;
}
.Carth2{ padding: 10px 0px 0px 0px;
    color: white;
}
.Homeh2{ padding: 20px 0px 0px 20px;
    color: white;
}



header{
    
    background:url(image/tlo.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-size: cover;
    
}
.the{
    font-size: 2.5em;
    color: white;
}
h1{ font-size: 3em;
    color: white;
}
.homeStyle{
    
    font-size: 2.5em;
    color:white;
    text-shadow: 10px 5px 5px  rgb(26, 25, 25);
}
.tittle{
    text-align: center;
    width: 600px;
    padding: 200px 0px 0px  ;
}
.tittle >*{
    text-shadow: 10px 5px 5px  rgb(26, 25, 25);
}
nav{
    width: 100%;
    height: 40px;
    background-color:black;
}
.navigation{
    padding: 5px 0px 0px 0px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    width: 40%;
    
}
.navigation >*{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.5;
}

.description{
    
    width: calc(100%-100px);
    padding: 20px 50px 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.description >*{
    font-size: 25px;
}


main{
    
    margin: 0px 50px 0px;
    padding: 20px 0px 10px;
    width: calc(100%-100px);}

.grzyby{
    
    
    border-radius: 10px;
    width: 200px;
}
.firstrow{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#number{
    width: 30px;
}
.lane2{
    position: relative;
    height: 8px;
    width:102%
}
footer{
    
    color: white;
    background-color: #191716;
    display:flex;
    justify-content: space-around;
}


.fb , .yt , .tw{
    width: 40px;
}
.image{
    padding: 10px 0px 0px;
}
h3{ font-size: 1.5em;
    padding: 0px 0px 10px;
}
.paragraphs>*{
    padding: 5px 0px 0px;
}

@media only screen and (max-width:800px){

    *{
        margin: 0px;
        padding: 0px;
    }
    header{
    
        background:url(image/tlo.jpg);
        height: 500px;
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-size: cover;
        
    }



}

