


 
 @media only screen and (max-width:2000px){
    *{
        margin:0px;
        padding: 0px;
    }
    body{
        box-sizing: border-box;
    }
    .top{
        position: fixed;
        top:0px;
        height: 80px;
        
        display:flex;
        justify-content: space-between;
        width: 100%;
        background-color:black ;
    }
    .topright{
        
        display: flex;
    }
    .Homeh2 {
        font-size: 40px;
        color: aliceblue;
        padding: 12px 0px 0px 10px;}
    
    .Carth2{
        font-size: 40px;
        color: aliceblue;
        padding: 12px 10px 0px 10px;
    }
    .shop{padding: 10px 0px 0px 0px;
        width: 50px;
        height: 50px;
    }
    
    header{
        height: 800px;
        margin: 50px 0px 0px 0px;
        background:url(image/tlo.jpg);
        background-size: cover;
      background-position: 10% 40%;
    }
    .tittle{
        padding: 175px 0px 0px 50px;
        color:white;
        text-align: center;
        width: 350px;
        
    }
    h1{
        font-size: 4em;
    }
    .the{
        
        font-size:5em
    }
    .navigation{
        padding: 12px 10px 0px;
        height: 60px;
        list-style: none;
        width: calc(100%-20px);
        display: flex;
        justify-content: space-around;
        background-color: black;
        
    }
    nav{
        margin: 0px 0px 20px 0px;
    }
    a{  font-size: 2em;
        color: white;
        text-decoration: none;}
    .description{
        margin:0px 10px 0px 80px;
        list-style: none;
        display:flex;
        justify-content: space-between;
    }
    .description >*{
        font-size:2em;
    }
    .lane2{
        width: 100%;
        height: 25px;
    }
    main{
        text-align: center;
    }
    .grzyby{
        border-radius: 20px;
        width: 250px;
    }
    .arow ,.brow, .crow , .drow , .erow{
        display:flex;
        justify-content: space-between;
        margin: 0px 10px 0px 10px ;
    }
    .acena{
        font-size: 2em;
        padding: 10px 0px 10px 0px;
    }
    .amount, .quantity{
        font-size: 2em;
        display: auto;
    }

    button{
        font-size: 2em;
        width: 100px;
        height: 40px;
    }
    footer{
        padding: 0px 20px 0px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: black;
    }
    h3{
        color: aliceblue;
        font-size: 2em;
        padding: 10px 0px 10px 0px;
    }
    .fb, .yt,.tw{
        width: 60px;
    }
    .paragraphs{
        font-size: 1.5em;
        padding: 5px 0px 5px 0px;
        color: aliceblue;
    }
    .paragraphs >*{
        padding: 5px 0px 0px 0px;
    }

}
 @media only screen and (max-width:1200px){
    *{
        margin:0px;
        padding: 0px;
    }
    body{
        box-sizing: border-box;
    }
    .top{
        position: fixed;
        top:0px;
        height: 80px;
        
        display:flex;
        justify-content: space-between;
        width: 100%;
        background-color:black ;
    }
    .topright{
        
        display: flex;
    }
    .Homeh2 {
        font-size: 40px;
        color: aliceblue;
        padding: 12px 0px 0px 10px;}
    
    .Carth2{
        font-size: 40px;
        color: aliceblue;
        padding: 12px 10px 0px 10px;
    }
    .shop{padding: 10px 0px 0px 0px;
        width: 50px;
        height: 50px;
    }
    
    header{
        height: 800px;
        margin: 50px 0px 0px 0px;
        background:url(image/tlo.jpg);
        background-size: cover;
      background-position: 10% 40%;
    }
    .tittle{
        padding: 175px 0px 0px 50px;
        color:white;
        text-align: center;
        width: 350px;
        
    }
    h1{
        font-size: 4em;
    }
    .the{
        
        font-size:5em
    }
    .navigation{
        padding: 12px 10px 0px;
        height: 70px;
        list-style: none;
        width: calc(100%-20px);
        display: flex;
        justify-content: space-between;
        background-color: black;
        
    }
    nav{
        margin: 0px 0px 10px 0px;
    }
    a{  font-size: 3em;
        color: white;
        text-decoration: none;}
    .description{
        display:none;
    }
    .lane2{
        width: 100%
    }
    main{
        text-align: center;
    }
    .grzyby{
        border-radius: 20px;
        width: 600px;
    }
    .acena{
        font-size: 4em;
        padding: 10px 0px 10px 0px;
    }
    .amount, .quantity{
        display: none;
    }
    button{
        font-size: 40px;
        width: 120px;
    }
    .arow ,.brow, .crow , .drow , .erow{
        display:block;
    }
    footer{
        text-align: center;
        background-color: black;
    }
    h3{
        color: aliceblue;
        font-size: 3em;
        padding: 10px 0px 10px 0px;
    }
    .fb, .yt,.tw{
        width: 75px;
    }
    .paragraphs{
        font-size: 2.2em;
        padding: 5px 0px 5px 0px;
        color: aliceblue;
    }
    .paragraphs >*{
        padding: 5px 0px 0px 0px;
    }

}







 @media only screen and (max-width:800px){
    *{
        margin:0px;
        padding: 0px;
    }
    body{
        box-sizing: border-box;
    }
    .top{
        position: fixed;
        top:0px;
        height: 60px;
        
        display:flex;
        justify-content: space-between;
        width: 100%;
        background-color:black ;
    }
    .topright{
        
        display: flex;
    }
    .Homeh2 {
        font-size: 30px;
        color: aliceblue;
        padding: 12px 0px 0px 10px;}
    
    .Carth2{
        font-size: 30px;
        color: aliceblue;
        padding: 12px 10px 0px 10px;
    }
    .shop{padding: 10px 0px 0px 0px;
        width: 35px;
        height: 35px;
    }
    
    header{
        height: 500px;
        margin: 50px 0px 0px 0px;
        background:url(image/tlo.jpg);
        background-size: cover;
      background-position: 10% 40%;
    }
    .tittle{
        padding: 130px 0px 0px 5px;
        color:white;
        text-align: center;
        width: 350px;
        
    }
    h1{
        font-size: 3em;
    }
    .the{
        
        font-size:4em
    }
    .navigation{
        padding: 12px 10px 0px;
        height: 50px;
        list-style: none;
        width: calc(100%-20px);
        display: flex;
        justify-content: space-between;
        background-color: black;
        
    }
    nav{
        margin: 0px 0px 10px 0px;
    }
    a{  font-size: 2em;
        color: white;
        text-decoration: none;}
    .description{
        display:none;
    }
    .lane2{
        width: 100%
    }
    main{
        text-align: center;
    }
    .grzyby{
        border-radius: 20px;
        width: 400px;
    }
    .acena{
        font-size: 2em;
        padding: 10px 0px 10px 0px;
    }
    .amount, .quantity{
        display: none;
    }
    .arow ,.brow, .crow , .drow , .erow{
        display:block;
    }
    button{
        font-size: 20px;
        width: 100px;
    }
    footer{
        text-align: center;
        background-color: black;
    }
    h3{
        color: aliceblue;
        font-size: 2em;
        padding: 10px 0px 10px 0px;
    }
    .fb, .yt,.tw{
        width: 50px;
    }
    .paragraphs{
        font-size: 1.5em;
        padding: 5px 0px 5px 0px;
        color: aliceblue;
    }
    .paragraphs >*{
        padding: 5px 0px 0px 0px;
    }
 }

@media only screen and (max-width:600px){
    *{
        margin:0px;
        padding: 0px;
    }
    body{
        box-sizing: border-box;
    }
    .top{
        position: fixed;
        top:0px;
        height: 50px;
        padding: 0px 0px 0px 0px;
        display:flex;
        justify-content: space-between;
        width: 100%;
        background-color:black ;
    }
    .topright{
        
        display: flex;
    }
    .Homeh2 {
        font-size: 25px;
        color: aliceblue;
        padding: 10px 0px 0px 10px;}
    
    .Carth2{
        font-size: 25px;
        color: aliceblue;
        padding: 10px 10px 0px 0px;
    }
    .shop{padding: 10px 0px 0px 5px;
        width: 30px;
        height: 30px;
    }
    
    header{
        width: 100%;
        height: 300px;
        margin: 50px 0px 0px 0px;
        background:url(image/tlo.jpg);
        background-size: cover;
      background-position: 10% 40%;
    }
    .tittle{
        padding: 100px 0px 0px 0px;
        color:white;
        text-align: center;
        width: 250px;
        
    }
    .the{
        
        font-size:2em
    }
    .navigation{
        padding: 12px 10px 0px;
        height: 30px;
        list-style: none;
        width: calc(100%-20px);
        display: flex;
        justify-content: space-between;
        background-color: black;
        
    }
    nav{
        margin: 0px 0px 10px 0px;
    }
    a{  font-size: 20px;
        color: white;
        text-decoration: none;}
    .description{
        display:none;
    }
    .lane2{
        width: 100%
    }
    main{
        text-align: center;
    }
    .grzyby{
        border-radius: 20px;
        width: 250px;
    }
    .acena{
        font-size: 1.4em;
        padding: 10px 0px 10px 0px;
    }
    .amount, .quantity{
        display: none;
    }
    button{
        width: 50px;
    }
    footer{
        text-align: center;
        background-color: black;
    }
    h3{
        color: aliceblue;
        font-size: 1.5em;
        padding: 10px 0px 10px 0px;
    }
    .fb, .yt,.tw{
        width: 40px;
    }
    .paragraphs{
        font-size: 1.2em;
        padding: 5px 0px 5px 0px;
        color: aliceblue;
    }
    .paragraphs >*{
        padding: 5px 0px 0px 0px;
    }

}